<h1>Snow Queen service request #<%= @quote.id %></h1>

<h2>Hi <%= @quote.first_name %></h2>

<p>
  Thank you for choosing Snow Queen to fulfill your winter snow clearing and salting needs! <br>
  For your reference, here are the details of the service you requested on <%= @quote.created_at %>:
</p>
<dl>
  <dt class="primary-address">Address:</dt>
  <dd><%= @quote.address %></dd><br/>
  <img alt="Selected area map" src="<%= @quote.static_map_URL %>"><br/>
  <dt>Area to be serviced:</dt>
  <dd><%= number_with_precision(@quote.area, precision: 0, delimiter: ",") %> sq ft</dd><br/>
  <dt>Comments:</dt>
  <dd><%= @quote.comments %></dd><br/>
  <dt>Total due:</dt>
  <dd><%= number_to_currency(@quote.total) %></dd><br/>
</dl>

<p>Cheers, <br> Snow Queen Team</p>
