<main class="container-fluid">
   <div class="d-flex row justify-content-center">
      <div class="col col-xl-3 mb-3">
         <div class="card">
            <h5 class="card-header font-weight-bold bg-primary text-white text-shadow">Quote calculator</h5>
            <div class="card-body" id="panel">
               <div class="row hidden displayAddress" id="displayAddress">
                  <div class="col-12 card-text" id="primaryAddress"></div>
                  <div class="col-8 card-text secondary" id="secondaryAddress"></div>
                  <div class="col-4">
                     <button 
                        type="button" 
                        class="btn edit-button btn-sm m-3" 
                        data-toggle="modal" 
                        data-target="#addressSubmitModal" 
                        id="searchAddressButton">✎
                     </button>
                  </div>
               </div>
               <form action="" id="SubmitQuote">
                  <div class="hidden row" id="displayTotals">
                     <div class="col-12 mt-4">
                        <div class="card">
                           <div class="card-body text-center p-1">
                              <span id="calculatedArea" class="font-weight-bold font-size-35"></span> sq ft
                           </div>
                        </div>
                     </div>
                     <div class="col-12 mt-3">
                        <div class="card">
                           <div class="card-body text-center p-1">
                              <span class="font-weight-bold currency-symbol text-secondary">$</span>
                              <span id="totalDue" class="font-weight-bold font-size-35"></span> CAD
                           </div>
                        </div>
                     </div>
                     <div class="col-12 mt-3">
                        <input 
                           id="quoteSubmit" 
                           type="submit" 
                           value="Send me this quote" 
                           class="btn btn-block btn-dark shadow-lg"
                           data-toggle="modal" 
                           data-target="#submitQuoteModal"
                        >
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
      <div class="col col-xl">
         <div class="card">
            <h5 class="card-header font-weight-bold bg-primary text-white text-shadow">Select the area to be serviced</h5>
            <div class="card-body">
               <div id="map" data-api-key="<%=Rails.application.credentials.google_api%>">
               </div>
            </div>
         </div>
      </div>
   </div>
</main>

<!-- ADDRESS SEARCH MODAL -->
<div class="modal fade" id="addressSubmitModal" tabindex="-1" role="dialog" aria-labelledby="addressSubmitModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
   <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
         <div class="modal-header bg-primary">
            <h5 class="modal-title text-white text-shadow" id="addressSubmitModalLabel">Let's start looking for your address:</h5>
         </div>
         <form action="" id="AddressSearchModal">
            <div class="modal-body d-flex justify-content-center">
               <input id="address" type="textbox" placeholder="123 Street Rd, Port Moody" class="w-100">
               <input id="submit" type="submit" value="Find" class="btn btn-dark ml-3">
            </div>
         </form>
      </div>
   </div>
</div>

<!-- QUOTE MODAL -->
<div class="modal fade" id="submitQuoteModal" tabindex="-1" role="dialog" aria-labelledby="submitQuoteModalTitle" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
         <div class="modal-header bg-primary">
            <h5 class="modal-title text-white text-shadow">Service details</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <%= simple_form_for(@quote, remote: true) do |form| %>
            <div class="modal-body">
               <div class="row displayAddress">
                  <div class="col-6 mt-4">
                     <div class="card-body p-1">
                        <div id="primaryAddressModal" class="col-12 card-text primary-address" ></div> 
                        <div id="secondaryAddressModal" class="col-12 card-text secondary-address" ></div> 
                     </div>
                  </div>
                  
                  <div class="col-6 mt-4">
                     <div class="card">
                        <div class="card-body text-center p-1">
                           <div id="staticMapCard" class="card-img-top">
                              <img id="staticMap" alt="Selected area map" class="card-img-top p-2">
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="col-12 mt-4">
                     <div class="card">
                        <div class="card-body text-center p-1">
                           <span id="areaModal" class="font-weight-bold font-size-35"></span> sq ft
                        </div>
                     </div>
                  </div>

                  <div class="col-12 mt-3">
                     <div class="card">
                        <div class="card-body text-center p-1">
                           <span class="font-weight-bold currency-symbol text-secondary">$</span>
                           <span id="totalModal" class="font-weight-bold font-size-35"></span> CAD
                        </div>
                     </div>
                  </div>
                  
                  <div class="col-12 mt-3">
                     <%= form.input :email, label: "Email", class: "" %>
                  <div class="hidden modal_errors col-12 p-0" id="modal_errors"></div>
                  </div>
                  <div class="col-12">
                     <%= form.input :first_name, label: "First name" %>
                  </div>
                  <div class="col-12">
                     <%= form.input :last_name, label: "Last name" %>
                  </div>
                     <%= form.input :address, :as => :hidden %>
                     <%= form.input :area, :as => :hidden %>
                     <%= form.input :total, :as => :hidden %>
                     <%= form.input :polygons, :as => :hidden %>
                     <%= form.input :static_map_URL, :as => :hidden %>
                  <div class="col-12">
                     <%= form.input :comments, input_html: { placeholder: 'How can we best serve you?'} %>
                  </div>
               </div>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-warning" data-dismiss="modal">Not yet! I need to make changes</button>
               <%= form.submit "Submit quote", class: 'btn btn-dark' %>
            </div>
         <% end %>
      </div>
   </div>
</div>

<!-- SUCCESS MODAL -->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalTitle" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
         <div class="modal-header bg-primary">
            <h5 class="modal-title text-white text-shadow" id="modalTitle">Thank You!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <p>You will shortly receive an email with the details for the service requested.</p>
            <p>Snow Queen will be in touch with you in the next 24hrs.</p> 
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">See you soon!</button>
         </div>
      </div>
   </div>
</div>
<script async defer
   src="https://maps.googleapis.com/maps/api/js?key=<%=Rails.application.credentials.google_api%>&libraries=drawing&callback=initMap">
</script>