<!DOCTYPE html>
<html>
  <head>
    <title>SnowQueen</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="bg-light">
    <header>
      <%= image_tag('SQ_logo.png', alt: 'Snow Queen Logo') %>
    </header>
    <%= yield %>
  </body>
</html>
